<ion-view>
  <ion-content>
   <form name="helpForm" novalidate="" ng-submit="help(helpForm)"> 
    <h4 class="text-center"  style="margin-top:1em">Ayúdanos con más información</h4>
         
          <div class="list text-center">

            <p style="margin-bottom:0">¿El lugar tiene wifi?</p>
<div class="row" style="margin-bottom:1.5em">
  <div class="col col-20">
            <button class="button" data-ng-class="class" data-ng-click="selectWifi('si')"> Sí </button>
          </div>
          <div class="col col-20">
            <button class="button" data-ng-class="class2" data-ng-click="selectWifi('no')"> No </button>
</div>
<div class="col col-60">
            <button class="button" data-ng-class="class3"  data-ng-click="selectWifi('ns')">No estoy seguro </button>
          </div>
</div>

         <p style="margin-bottom:0">¿Existe oferta gastronómica en el sector?</p>
<div class="row" style="margin-bottom:1.5em">
  <div class="col col-20">
            <button class="button" data-ng-class="class4" data-ng-click="selectGastronomia('si')"> Sí </button>
          </div>
          <div class="col col-20">
            <button class="button" data-ng-class="class5" data-ng-click="selectGastronomia('no')"> No </button>
</div>
<div class="col col-60">
            <button class="button" data-ng-class="class6" data-ng-click="selectGastronomia('ns')">No estoy seguro </button>
          </div>
</div>

         <p style="margin-bottom:0">¿Hay zona de parqueos?</p>
<div class="row" style="margin-bottom:1.5em">
  <div class="col col-20">
            <button class="button" data-ng-class="class7" data-ng-click="selectParque('si')"> Sí </button>
          </div>
          <div class="col col-20">
            <button class="button" data-ng-class="class8" data-ng-click="selectParque('no')"> No </button>
</div>
<div class="col col-60">
            <button class="button" data-ng-class="class9" data-ng-click="selectParque('ns')">No estoy seguro </button>
          </div>
</div>


         <p style="margin-bottom:0">¿El sitio es de fácil acceso?</p>
<div class="row" style="margin-bottom:1.5em">
  <div class="col col-20">
            <button class="button"  data-ng-class="class10" data-ng-click="selectAcceso('si')"> Sí </button>
          </div>
          <div class="col col-20">
            <button class="button"  data-ng-class="class11" data-ng-click="selectAcceso('no')"> No </button>
</div>
<div class="col col-60">
            <button class="button"  data-ng-class="class12" data-ng-click="selectAcceso('ns')">No estoy seguro </button>
          </div>
</div>

         <p style="margin-bottom:0">¿Existen juegos infantiles?</p>
<div class="row" style="margin-bottom:1.5em">
  <div class="col col-20">
            <button class="button" data-ng-class="class13" data-ng-click="selectJuegos('si')"> Sí </button>
          </div>
          <div class="col col-20">
            <button class="button" data-ng-class="class14" data-ng-click="selectJuegos('no')"> No </button>
</div>
<div class="col col-60">
            <button class="button" data-ng-class="class15" data-ng-click="selectJuegos('ns')">No estoy seguro </button>
          </div>
</div>

            <button class="button button-royal"> Enviar </button>

          	
          </div>
             
        </form>   
      
    </ion-content> 
  

</ion-view>