<ion-view>
  <ion-content>
   <form name="commentForm" novalidate="" ng-submit="comment(commentForm)"> 
         
          <div class="list" style="margin-top:1em">
          	<label data-ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}" class="labelComment">
             Tu calificación
            </label>
             <rating ng-model="data.rating" max="data.max" ></rating>

             <hr class="separator"/>

<div class="row">
	<div class="col col-60">
             <label data-ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}" class="labelComment" style="margin-left:1.5em">
              Mes de la visita:
            </label>
        </div>
        <div class="col col-20">
            <input type="month">
        </div>
</div>
            <hr class="separator" />
<div class="row">
<div class="col col-60">
              <label data-ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}" class="labelComment">
              Tipo de visita:
            </label>
        </div>
        <div class="col col-20">
            <input type="text" class="inputComment" size="20">
        </div>
</div>
            <hr class="separator"/>
            
             <label data-ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}" class="labelComment">
              Tu comentario:
            </label>
            <textarea type="text" cols="56" rows="15" class="inputComment" style="margin-left:2em;margin-top:0.5em;resize:none"></textarea>
        
          <div class="row">
          <div class="col col-100 text-center">
            <button class="button button-royal" style="width:130px">Enviar</button>
        </div>
          </div>
             
        </form>   
      
    </ion-content> 
</ion-view>