<ion-nav-bar></ion-nav-bar>
<ion-nav-view>
  <ion-view>
    <ion-content>    

<div style="margin-top:2em"></div>
<h3 data-ng-hide="data.catItems.results.length > 0">No hay datos para mostrar</h3>
    <div class="card goraymi-indexCard" data-ng-repeat="item in data.catItems.results" data-ng-click="viewItemCat(color,$index)">
  <div class="item item-text-wrap goraymi-bgCard">
    <div class="row goraymi-alignImgCard">
      <div class="col col-60">
  <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:{{color}}" data-ng-show="item.item_type == 2">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold">{{item.language_item_timetable || 'No disponible'}}</p>
      </div>
      <div class="col col-10"></div>
      <div class="col col-30 goraymi-alignImgCard">
        <div class="row goraymi-alignImgCard">
          <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}" class="imgPosition"/>
          </div>
        </div>
        <div class="row row-bottom goraymi-alignImgCard" style="margin-top:1px !important">
          <div class="col col-100 goraymi-alignImgCard" style="background-color:{{color}}">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/></span>
          </div>
        </div>
      </div>        
  </div>
  </div>
</div>  
      </ion-content>
<ion-footer-bar align-title="left" class="bar-light"> 
<div class="container container-table"> 
  <div class="row vertical-center-row" style="width:73%" menu-toggle="left">
    <img src="img/menu.png"/>
  </div>
  <div class="row vertical-center-row" data-ng-click="openDrawer()">
    <img src="img/user.png"/>
  </div>
  <div class="row vertical-center-row" style="padding-left:7em"  menu-toggle="right">
    <img src="img/filtrar.png"/>
  </div>
</div>
</ion-footer-bar>


        
        <drawer side="noSe" style="top:100%;width:100%" id="menuUser">          
          <ion-content>         
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Perfil</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Publicaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Seguidores</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Intereses</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Buscar amigos</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Comentarios</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Preferencias</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Idioma</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Unidades</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Notificaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Opciones de pago</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
            </ul>
          </ion-content>         
  </drawer>
</ion-view>

</ion-nav-view>