
<ion-view>
<div class="button-bar light" style="background-color:#FFF;position: fixed;top: 44px; z-index: 9999;">
            <a class="button goraymi-info-off" ui-sref="app.info"></a>            
           
            <a class="button goraymi-descubre-on" ui-sref="app.descubre"></a>            

            <a class="button goraymi-aprende-off" ui-sref="app.aprende"></a>            

            <a class="button goraymi-compra-off" ui-sref="app.compra"></a>            

            <a class="button goraymi-vive-off" ui-sref="app.vive"></a>   
        </div>
  <ion-content>
 
    <div class="container">
     <div class="col col-100 responsive-sm responsive-md" style="padding-left:0;padding-right:0;padding-top:4em"></div>

       <div class="col col-100 responsive-sm responsive-md" data-ng-repeat="item in data.categories.discover.inset">
        <div class="row" style="margin-bottom:1px">
           <div class="row goraymi-containerNear">
              <div class="col col-100" style="margin-right:10px">
                <h3 class="goraymi-sizeNearText text-center raymi-text-overflow" data-ng-click="goItemFromCat(1,item.key_id)">{{item.key_word}}</h3>
               </div>
          </div>
        </div> 
       </div>

      </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light"> 
<div class="container container-table"> 
  <div class="row vertical-center-row" style="width:73%" menu-toggle="left">
    <img src="img/menu.png"/>
  </div>
  <div class="row vertical-center-row" data-ng-click="openDrawer()">
    <img src="img/user.png"/>
  </div>
  <div class="row vertical-center-row" style="padding-left:7em"  menu-toggle="right">
    <img src="img/filtrar.png"/>
  </div>
</div>
</ion-footer-bar>


       
        <drawer side="noSe" style="top:100%;width:100%" id="menuUser">          
          <ion-content>         
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Perfil</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Publicaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Seguidores</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Intereses</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Buscar amigos</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Comentarios</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Preferencias</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Idioma</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Unidades</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Notificaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Opciones de pago</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
            </ul>
          </ion-content>         
  </drawer>
</ion-view>


