<ion-view hide-nav-bar="true">  
  <ion-content scroll="false">
  <div class="text-center">
     <img src="img/logo_menu.png"/>


     <h2>¡Gracias!</h2>
     <p>Tu cuenta ha sido creada.</p>
     <p>Por favor, revisa tu correo electr&oacute;nico para futuras indicaciones.</p>

      <button class="button button-block button-positive" type="button" ui-sref="app.localizar">Entrar</button>

   </div>
   
  </ion-content>
</ion-view>
