<ion-view hide-nav-bar="true"> 

<ion-content class="padding" scroll="false">
<div class="text-center">

<img src="img/logo_menu.png"/>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="username@example.com" ng-model="loginData.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="password" ng-model="loginData.password">
          </label>
      </div>
      <button class="button button-block button-balanced" ng-click="login()">Login</button>
      <a class="facebook-sign-in button button-block button-positive" ng-click="facebookSignIn()">Iniciar sesión con Facebook</a>
       <a class="twitter-sign-in button button-block button-calm" ng-click="twitterSignIn()">Iniciar sesión con Twitter</a>
       <a ui-sref="app.registro" class="linkLogin" style="font-size:1.5em;padding-bottom:2em">Crear cuenta</a><br/>
       <a ui-sref="app.info" class="linkLogin" style="font-size:1.2em">Omitir</a>

  </ion-content>
  </div>
</ion-view>
