
<ion-view hide-back-button="true">
<div class="button-bar light" style="background-color:#FFF;position: fixed;top: 44px; z-index: 9999;">
            <a class="button goraymi-info-on" ui-sref="app.info"></a>            
           
            <a class="button goraymi-descubre-off" ui-sref="app.descubre"></a>            

            <a class="button goraymi-aprende-off" ui-sref="app.aprende"></a>            

            <a class="button goraymi-compra-off" ui-sref="app.compra"></a>            

            <a class="button goraymi-vive-off" ui-sref="app.vive"></a>   
        </div>
  <ion-content>
  <div style="margin-top:4em"></div>
  <div data-ng-repeat="item in data.filtro.items.buy" data-ng-click="viewItem(3,$index)" data-ng-if="item.item_type != 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}}</p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}" class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:orange">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/></span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
  <div data-ng-repeat="item in data.filtro.items.buy" data-ng-click="viewRaymi(3,item.item_hash,item.user_id)" data-ng-if="item.item_type == 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:orange">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}" class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:orange">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/></span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
  <div data-ng-repeat="item in data.filtro.items.discover" data-ng-click="viewItem(1,$index)" data-ng-if="itm.item_type != 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} </p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:purple">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
 <div data-ng-repeat="item in data.filtro.items.discover" data-ng-click="viewRaymi(3,item.item_hash,item.user_id)" data-ng-if="item.item_type == 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:purple">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:purple">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>

  <div data-ng-repeat="item in data.filtro.items.learn" data-ng-click="viewItem(2,$index)" data-ng-if="item.item_type != 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} </p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:blue">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
<div data-ng-repeat="item in data.filtro.items.learn" data-ng-click="viewRaymi(3,item.item_hash,item.user_id)" data-ng-if="item.item_type == 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:blue">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:blue">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>

  <div data-ng-repeat="item in data.filtro.items.live" data-ng-click="viewItem(3,$index)" data-ng-if="item.item_type != 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:green">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:green">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
  <div data-ng-repeat="item in data.filtro.items.live" data-ng-click="viewRaymi(3,item.item_hash,item.user_id)" data-ng-if="item.item_type == 2">
      <div class="card goraymi-indexCard">
    <div class="item item-text-wrap goraymi-bgCard">
      <div class="row goraymi-alignImgCard">
        <div class="col col-60">
    <p class="goraymi-titleCard">{{item.language_item_title}} <span style="color:green">({{item.num_items}})</span></p>
    <p>{{item.language_item_keywords | cut:true:70:' ...'}}</p>
    <p class="goraymi-bold" style="position:absolute;bottom:10px">{{item.language_item_timetable || 'No disponible'}}</p>
        </div>
        <div class="col col-10"></div>
        <div class="col col-30 goraymi-alignImgCard">
          <div class="row goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard">
              <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}"  class="imgPosition"/>
            </div>
          </div>
          <div class="row row-bottom goraymi-alignImgCard">
            <div class="col col-100 goraymi-alignImgCard" style="background-color:green">
              <span style="color:#fff;">{{item.votes || 0}}<img src="img/trofeos_app.png"/> </span>
            </div>
          </div>
        </div>        
    </div>
    </div>
  </div>
</div>
  </ion-content>
 <!-- <nav mfb-menu position="br" effect="zoomin" label="Filtrar" active-icon="ion-search" resting-icon="ion-search" toggling-method="click" ng-click="openDrawer()">  
</nav>-->
<ion-footer-bar align-title="left" class="bar-light"> 
<div class="container container-table"> 
  <div class="row vertical-center-row" style="width:73%" menu-toggle="left">
    <img src="img/menu.png"/>
  </div>
  <div class="row vertical-center-row" data-ng-click="openMenu()">
    <img src="img/user.png"/>
  </div>
  <div class="row vertical-center-row" style="padding-left:7em"  menu-toggle="right">
    <img src="img/filtrar.png"/>
  </div>
</div>
</ion-footer-bar>


        <drawer side="noSe" style="top:100%;width:100%" id="menuUser">          
          <ion-content>         
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Perfil</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Publicaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Seguidores</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Intereses</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Buscar amigos</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Comentarios</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
              <a  class="item"  ng-click="closeDrawer2()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Preferencias</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Idioma</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Unidades</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Notificaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Opciones de pago</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
            </ul>
          </ion-content>         
  </drawer>
</ion-view>

