<ion-view hide-nav-bar="true">
<ion-content class="padding">
      <div class="list list-inset">
        <h4>Elige a continuaci&oacute;n las categor&iacute;as de tu inter&eacute;s</h4>  

    <ul class="list">

  <li class="item item-toggle" data-ng-repeat="item in app.intereses">
        {{item.key_word}}
     <label class="toggle toggle-positive">
       <input type="checkbox" data-ng-model="item.check" data-ng-change="anyadirIntereses(item.key_word,item.check)"> <!--checked para marcado-->
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li> 
</ul>            
 </div>
    
  </ion-content>
     <div class="bar bar-footer bar-positive footer-button">       
      <button class="button button-full button-positive" data-ng-click="enviarIntereses()">Siguiente</button>       
    </div>
       
<!--
<ion-footer-bar align-title="left" class="bar-light"> 
<div class="container container-table"> 
  <div class="row vertical-center-row" style="width:73%" menu-toggle="left">
    <img src="img/menu.png"/>
  </div>
  <div class="row vertical-center-row" data-ng-click="openDrawer()">
    <img src="img/user.png"/>
  </div>
  <div class="row vertical-center-row" style="padding-left:7em"  menu-toggle="right">
    <img src="img/filtrar.png"/>
  </div>
</div>
</ion-footer-bar>


        <drawer side="left" style="top:150px;width:100%">          
          <ion-content>         
            <ul class="list">
          
              <a  class="item"  ng-click="closeDrawer()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Perfil</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Publicaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Seguidores</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Intereses</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Buscar amigos</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Comentarios</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
              <a  class="item"  ng-click="closeDrawer()">  <img src="img/user.png"/> <span style="font-size:1.5em, vertical-align:super">Preferencias</span> <i class="ion-minus icon-arrow-right"></i></a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Idioma</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Unidades</span> </a>
              <a  class="item"  >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Notificaciones</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Opciones de pago</span> </a>
              <a  class="item" >  <i class="ion-edit" style="margin-left:3em"/></i> <span style="font-size:1.5em, vertical-align:super"> Medallas</span> </a>
            </ul>
          </ion-content>         
  </drawer>
-->
</ion-view>
