<ion-nav-bar></ion-nav-bar>
<ion-nav-view>
  <ion-view>
    <ion-content>
<div class="row" style="padding-top:1em">

<div class="col col-80">
	<h4>{{arguments.itemView.language_item_title}}</h4>
</div>

<div class="col col-20">
    <img ng-src="http://goraymi.com/image/{{arguments.itemView.item_gallery| split:',':0}}" style="width:100%;height:auto" ui-sref="app.galeria"/>
</div>
</div>
<div class="row">
<div class="col col-80">
	<p style="color:grey">A 120km de tu ubicaci&oacute;n<br/>
      A 2m del centro de Cuenca<br/>
	  {{arguments.itemView.language_item_keywords}}</p>
</div>
</div>
<hr class="separator"/>

<div class="row" style="margin-top:0.5em">
<div class="col">
<span class="badge badge-calm badge-claro">{{arguments.itemView.votes || 0}} <img src="img/trofeos_app.png"/></span>
</div>
<div class="col">
<span class="badge badge-calm badge-claro">{{arguments.itemView.comments || 0 }}</span>
</div>
<div class="col">
<span class="badge badge-balanced badge-medio">{{arguments.itemView.item_certifications | split:',':0}}</span>
</div>
<div class="col">
<span class="badge badge-balanced badge-medio">{{arguments.itemView.item_certifications | split:',':1}}</span>
</div>
<div class="col">
<span class="badge badge-calm badge-medio">{{arguments.itemView.item_certifications | split:',':2}}</span>
</div>
</div>
<div class="row" style="display:none">
<div class="col">
<span class="badge badge-royal badge-oscuro">GAD Cuenca </span>
</div>
<div class="col">
<span class="badge badge-calm badge-oscuro">Julio Rodríguez</span>
</div>
</div>


<div class="row">
<h5><i class="ion-arrow-right-c"></i> Informaci&oacute;n</h5>
</div>
<div class="row" style="margin-left:1em;padding-right:1em">
<p>{{arguments.itemView.language_short_desc}}</p>
</div>
<div class="row">
<a style="color:#00798A;text-decoration:none;margin-left:1em;font-size:1.2em" data-ng-click="leerMas()">Leer más <i class="ion-plus" style="color=#00798A"></i></a>
</div>

<hr class="separator" />

<div class="row" style="margin-bottom:1em">
<div class="col">
  Me gusta
</div>
<div class="col" style="border-left:1px solid grey; border-right:1px solid grey">
  Añadir a itinerario
</div>
<div class="col">
  Compartir
</div>

</div>
<div class="row">
<div class="col">
  Descargas
</div>
<div class="col" style="border-left:1px solid grey; border-right:1px solid grey">
  Comentarios
</div>
<div class="col">
  Denunciar
</div>

</div>
<hr class="separator"/>

<div class="row">
<h5><i class="ion-arrow-right-c"></i> Autor: {{arguments.itemView.user_nick_name}}</h5>
</div>
<div class="row">
  <div class="col col-20">
    <img ng-src="http://goraymi.com/image/{{arguments.itemView.user_image | split:',':0}}" style="width:100%;height:auto;"/>
</div>
<div class="col col-80">
<p>{{arguments.itemView.user_description}}</p>
</div>
</div>


    </ion-content>

  <ion-footer-bar align-title="left" class="bar-light">  
  <div class="buttons" style="margin-left:1em" ui-sref="app.mapa">
    <p><img src="img/map.png" style="margin-bottom:-0.5em"/><br/>Mapa</p>
  </div>
</ion-footer-bar>
  </ion-view>
</ion-nav-view>