<ion-view hide-nav-bar="true">
<ion-content class="padding" scroll="false">
<div class="text-center">
      <div class="list list-inset">
        <h3>Indique su ciudad</h3>
          <label class="item item-input">
              <input type="text" data-ng-model="localizacion">
          </label>         
      </div>
      </div>   
  </ion-content>
   <div class="bar bar-footer bar-positive footer-button">       
      <button class="button button-full button-positive" data-ng-click="anyadirLocalizacion()">Siguiente</button>       
    </div>
       
</ion-view>