<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-light" ng-controller="BackButtonCtrl">      
       <ion-nav-buttons side="left">       
      </ion-nav-buttons>
     <!-- <ion-nav-back-button>
      </ion-nav-back-button>-->     
  <ion-nav-back-button class="button-clear goraymi-backButton" ng-click="GoBack()">
<i class="goBackIcon"></i>
  </ion-nav-back-button>

      <ion-nav-buttons side="right" data-ng-controller="SearchCtrl">
        <div class="bar bar-header item-input-inset" style="padding:0 !important; background:transparent !important">
  <label class="item-input-wrapper goraymi-search">
    <input type="search" placeholder="Buscar" my-on-key-down-call="callRestService()" ng-value="busca">
    <i class="icon ion-ios-search placeholder-icon"></i>
  </label> 
</div>
    </ion-nav-buttons>   
      <ion-nav-buttons side="primary">
       
      </ion-nav-buttons>  
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <ion-nav-view name="menuContent2">
        <ion-tabs class="tabs-icon-top" style="display:none;">
        </ion-tabs>
    </ion-nav-view>
  </ion-side-menu-content>

    <ion-side-menu side="left">  
      <header class="bar bar-header bar-light">
        <img src="img/logo_menu.png" style="padding-left:3em;position:absolute"/>
    </header> 
    <ion-content>
      <ion-list>        
        <ion-item menu-close class="menu-separator"  style="color:#AAA">
        <i class="ion-arrow-graph-up-right"></i> Tendencias <i class="ion-plus icon-arrow-right"></i>
        <div class="separator-Menu"></div>
        </ion-item>
        <ion-item menu-close class="menu-separator" style="white-space:normal">
         Paseo de las Plazas históricas de Cuenca <span style="color:purple">(15)</span>
         <h5>Descubre, Lugares, <b>Plazas</p></h5>
        </ion-item>
          <ion-item menu-close class="menu-separator" style="white-space:normal">
         Leyendas cuencanas <span style="color:#1F5D9A">(5)</span>
         <h5>Aprende, Tradiciones, <b>Cuentos y Leyendas</p></h5>
        </ion-item>
           <ion-item menu-close class="menu-separator" style="white-space:normal">
         Fiesta de la reina
         <h5>Vive, Fiestas y Tradiciones, <b>Fiestas</p></h5>
        </ion-item>
           <ion-item menu-close class="menu-separator" style="white-space:normal">
         Artesanías cuencanas <span style="color:#F58720">(7)</span>
         <h5> Compra, Shopping, <b>Artesanías</p></h5>
        </ion-item>
        <ion-item menu-close class="menu-separator" style="color:#AAA">
        <i class="ion-search"></i> GoRaymi <i class="ion-plus icon-arrow-right"></i>
        <div class="separator-Menu"></div>
        </ion-item>
        <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-information-circled" style="padding-left:2em"></i> Acerca de GoRaymi
      </ion-item>
       <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-videocamera" style="padding-left:2em"></i> Lo que dicen los medios
      </ion-item>
      <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-ribbon-b" style="padding-left:2em"></i> Trayectoria y Reconocimientos
      </ion-item>
         <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-ios-people-outline" style="padding-left:2em"></i> Equipo
        </ion-item>
         <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-email" style="padding-left:2em"></i> Contáctenos
        </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA">
        <i class="ion-ios-locked-outline"></i> Términos y condiciones <i class="ion-plus icon-arrow-right"></i>
        <div class="separator-Menu"></div>
        </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-navicon" style="padding-left:2em"></i>  Condiciones de uso
        </ion-item>
         <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-navicon" style="padding-left:2em"></i>  Denunciar contenido inapropiado
        </ion-item>
        <ion-item menu-close class="menu-separator" style="color:#AAA">
          <i class="ion-document" style="padding-left:2em"></i>  Términos legales y privacidad
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>



  <ion-side-menu side="right">   
    <header class="bar bar-header bar-light">
        <img src="img/filtrar.png" style="padding-left:2em;position:absolute"/><h4 style="padding-left:5em">Filtrar Resultados</h4>
    </header>
    <ion-content>
      <ion-list>
         <ion-item menu-close class="menu-separator" style="color:#AAA;padding-top:2em" data-ng-click="filtroTodo()">
          <img src="img/old.png" style="padding-left:2em"/> Todo
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA" ui-sref="app.mapafiltro">
          <img src="img/mapa.png" style="padding-left:2em"/> Mapa
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA">
          <img src="img/calendar.png" style="padding-left:2em"/> Fecha
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA">
          <img src="img/distancia.png" style="padding-left:2em"/> Distancia
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA" data-ng-click="filtroCosto()">
          <img src="img/costo.png" style="padding-left:2em"/> Costo
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA" data-ng-click="filtroAlfabetico()">
          <img src="img/alfa.png" style="padding-left:2em"/> Alfabético
      </ion-item>
          <ion-item menu-close class="menu-separator" style="color:#AAA" data-ng-click="filtroOficial()">
          <img src="img/oficial.png" style="padding-left:2em"/> Oficial
      </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>