<ion-view hide-nav-bar="true">
<ion-content class="padding" scroll="false">
      <div class="list">      
        <h4>¿Qu&eacute; otras cosas te interesan?</h4>  
<div class="item item-input-inset">
          <label class="item-input-wrapper" style="background-color:#FFF">
              <input type="text" data-ng-model="arguments.otroInteres" placeholder="Ej: Toros, música, cine...">
          </label>    
          <i class="ion-plus" data-ng-click="addElement()"></i>          
      </div>
    </div>
    <ul class="list">
    <li class="item" data-ng-repeat="element in arguments.otrosIntereses">
      {{element}}  <i class="ion-close" style="float:right" data-ng-click="removeElement($index)"></i>
    </li>
</ul>    
  </ion-content>
     <div class="bar bar-footer bar-positive footer-button">       
      <button class="button button-full button-positive" data-ng-click="enviarOtrosIntereses()">Siguiente</button>       
    </div>
</ion-view>