<ion-nav-bar></ion-nav-bar>
<ion-nav-view>
  <ion-view>
    <ion-content>  
          <!--http://stackoverflow.com/questions/23264789/angularjs-ng-repeat-to-assign-generate-a-new-unique-id al hacer el ng-repeat para montar el menu, pasar al ng-click index y lenght para asignarle a cada uno un ng-class diferente y pintarlos correctamente --> 
<tab-slide-box>
    <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll scroll-view ionic-scroll">
           <div class="scroll">
            <a href="javascript:;" class="ion-home1" data-ng-repeat="item in data.raymiView">{{item.language_item_title}}</a>
            
        </div>
        <div class="scroll-bar scroll-bar-h"><div class="scroll-bar-indicator scroll-bar-fade-out"></div></div>
      </ion-scroll>
    </div>
  </div>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" >
        <ion-slide data-ng-repeat="item in data.raymiView">
        <div class="box">
           <div class="row">
<div class="row">
<div class="col col-80">
  <h4>{{item.language_item_title}}</h4>
</div>

<div class="col col-20">
       <img ng-src="http://goraymi.com/image/{{item.item_gallery| split:',':0}}" style="width:100%;height:auto"/>
</div>
</div>
</div>
<div class="row">
<div class="col col-80">
  <p style="color:grey;margin-bottom:0">A {{item.distance | number:2}}km de tu ubicaci&oacute;n<br/>
      A 2m del centro de Cuenca<br/>
   {{item.language_item_keywords}}</p>
</div>

<div class="col col-20">
&nbsp;
</div>
</div>

<hr class="separator" />

<div class="row" style="margin-top:0.5em">
<div class="col">
<span class="badge badge-calm badge-claro">{{item.votes || 0}} <img src="img/trofeos_app.png"/></span>
</div>
<div class="col">
<span class="badge badge-calm badge-claro">{{item.comments || 0 }}</span>
</div>
<div class="col">
<span class="badge badge-balanced badge-medio">{{item.item_certifications | split:',':0}}</span>
</div>
<div class="col">
<span class="badge badge-balanced badge-medio">{{item.item_certifications | split:',':1}}</span>
</div>
<div class="col">
<span class="badge badge-calm badge-medio">{{item.item_certifications | split:',':2}}</span>
</div>
</div>
<div class="row" style="display:none">
<div class="col">
<span class="badge badge-royal badge-oscuro">GAD Cuenca</span>
</div>
<div class="col">
<span class="badge badge-calm badge-oscuro">Julio Rodríguez</span>
</div>
</div>

<div class="row">
<h5><i class="ion-arrow-right-c"></i> Informaci&oacute;n</h5>
</div>
<div class="row" style="margin-left:1em;padding-right:1em">
<p>{{item.language_short_desc}}</p>
</div>
<div class="row">
<a style="color:#00798A;text-decoration:none;margin-left:1em;font-size:1.2em" data-ng-click="leerMasRaymi($index)">Leer más <i class="ion-plus" style="color=#00798A"></i></a>
</div>

<hr class="separator" />

<div class="row" style="margin-bottom:1em">
<div class="col">
  Me gusta
</div>
<div class="col" style="border-left:1px solid grey; border-right:1px solid grey">
  Añadir a itinerario
</div>
<div class="col">
  Compartir
</div>

</div>
<div class="row">
<div class="col">
  Descargas
</div>
<div class="col" style="border-left:1px solid grey; border-right:1px solid grey">
  Comentarios
</div>
<div class="col">
  Denunciar
</div>

</div>
<hr class="separator"/>

<div class="row">
<h5><i class="ion-arrow-right-c"></i> Autor: {{item.user_nick_name}}</h5>
</div>
<div class="row">
  <div class="col col-20">
    <img ng-src="http://goraymi.com/image/{{item.user_image | split:',':0}}" style="width:100%;height:auto;"/>
</div>
<div class="col col-80">
<p>{{item.user_description}}</p>
</div>
</div>
</div>
                        </ion-slide> 
                    </ion-slide-box>
            </tab-slide-box>
   
   
  

    </ion-content>

    <ion-footer-bar align-title="left" class="bar-light">  
  <div class="buttons" style="margin-left:1em" ui-sref="app.maparaymi">
    <p><img src="img/map.png" style="margin-bottom:-0.5em"/><br/>Mapa</p>
  </div>
</ion-footer-bar>
  </ion-view>
</ion-nav-view>