<ion-view hide-nav-bar="true">  
  <ion-content scroll="false">
  <div class="text-center">
     <img src="img/logo_menu.png"/>
   </div>
    <form ng-submit="registro(registroForm)" name="registroForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="registroForm.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registroForm.password" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Repite password</span>
          <input type="password" ng-model="registroForm.repitePassword" required >
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Registrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
