<ion-view>
  <ion-content>

  <div class="contenedor">
    <div class="list">

  <div class="item item-divider descubre">
Descubre 
  </div>

  <a class="item search" data-ng-repeat="item in data.search.discover" data-ng-click="viewItem(1,$index)">
     {{item.language_item_title}}
     <p>{{item.language_item_keywords}}</p>
  </a>
   <div class="item item-divider aprende">
Aprende
  </div>

  <a class="item search" data-ng-repeat="item in data.search.learn" data-ng-click="viewItem(2,$index)">
     {{item.language_item_title}}
     <p>{{item.language_item_keywords}}</p>
  </a>

   <div class="item item-divider compra">
   Compra
  </div>

  <a class="item search" data-ng-repeat="item in data.search.buy" data-ng-click="viewItem(3,$index)">
     {{item.language_item_title}}
     <p>{{item.language_item_keywords}}</p>
  </a>
  
   <div class="item item-divider vive">
Vive
  </div>

  
  <a class="item search" data-ng-repeat="item in data.search.live" data-ng-click="viewItem(4,$index)">
     {{item.language_item_title}}
     <p>{{item.language_item_keywords}}</p>
  </a>

 
<div class="item item-divider buscarMas">
Buscar más resultados
  </div>
</div>
</div>
  </ion-content>
</ion-view>
