
.goraymi-indexCard{
	box-shadow:none;
	/*margin-bottom:10px;
	margin-top:10px;*/
	margin: 1px 0px;
}

.goraymi-catCard{
	box-shadow:none;
	margin: 0px 0px 10px 0px;
}
.goraymi-bgCard{
    background-color:#EEE;
    padding-top:0px;
    padding-bottom:0px;
    padding-right:0px;
}

.goraymi-titleCard{
	font-weight: bold;
    font-size: 1em !important;
    color:#000 !important;
    margin-bottom:1em !important;
}
.goraymi-bold{
	font-weight:bold !important;
	color:#000 !important;
}
.goraymi-alignImgCard{
	padding:0 !important;
}

.goraymi-search{
	background-color:#fff;
	border-bottom:1px solid #ccc;
}

.goraymi-near{
	float: right;
    background-color: #ccc;
    padding: 2px 10px;
    padding-bottom:6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.goraymi-near:link,.goraymi-near:visited,.goraymi-near:hover,.goraymi-near:visited, .linkLogin{
	text-decoration: none;
	color:#000;
}
.goraymi-titleNear{
	margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-left:1em;
}
.goraymi-containerNear{
	background-color:#EEE;
	height:3em;
	padding:0px !important;
	margin-bottom:6px;
}

.goraymi-sizeNearText{
	font-size:1.3em;
	white-space: nowrap;
}

.right-buttons{
	width:95% !important;
}
.button.activate,.button.activated{
	background-color: inherit !important;
	border:none !important;
}
.buttons.buttons-right.header-item{
	 width: 88% !important;
     float: right;
     right:0px !important;

}

.goraymi-menu{
	background:url(../img/menu.png) no-repeat !important;
	width:40px;
}
.goraymi-user{
	position: absolute;
	right: 5px;
	background:url(../img/user.png) no-repeat !important;
	width:40px;
}
.goraymi-info-on{
	background:url(../img/info_on.png) no-repeat;
	width:40px;
	margin-left:1.5em;
}

.goraymi-info-off{
	background:url(../img/info_off.png) no-repeat;
	width:40px;
	margin-left:1.5em;
}

.goraymi-descubre-on{
	background:url(../img/descubre_on.png) no-repeat;
	width:40px
}

.goraymi-descubre-off{
	background:url(../img/descubre_of.png) no-repeat;
	width:40px
}

.goraymi-aprende-on{
	background:url(../img/aprende_on.png) no-repeat;
	width:40px
}

.goraymi-aprende-off{
	background:url(../img/aprende_off.png) no-repeat;
	width:40px
}

.goraymi-compra-on{
	background:url(../img/compra_on.png) no-repeat;
	width:40px
}

.goraymi-compra-off{
	background:url(../img/compra_off.png) no-repeat;
	width:40px
}

.goraymi-vive-on{
	background:url(../img/vive_on.png) no-repeat;
	width:40px
}

.goraymi-vive-off{
	background:url(../img/vive_off.png) no-repeat;
	width:40px
}


[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background-color:#FFF !important;
}

.badge-claro{
	background-color:#00798A !important;
}

.badge-medio{
	background-color:#005464 !important;
}

.badge-oscuro{
	background-color:#04464F !important;
}

.button.button-icon.button-clear.goraymi-user.hide{
	display:inherit !important;
}
.goBackIcon{	
	content:url(../img/atras.png) ;
}
.has-header{
	top:45px !important;
}

.icon.ion-android-arrow-back, .icon.ion-ios-arrow-back{
	display:none;
}

.separator{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DEDEDE -moz-use-text-color #DEDEDE;
  border-width: 1px 0;
  width:95%;
}

.scroll-bar-indicator
{
	display: none;
}

.descubre{
	background-color:#9a4f8c;
	color:#fff;
}
.aprende{
	background-color:#1f5d9a;
	color:#fff;
}
.compra{
	background-color:#f58720;
	color:#fff;
}
.vive{
	background-color:#0e9247;
	color:#fff;
}
.buscarMas{
	background-color:#00b6d1;
	color:#fff;
}

.item.search{
	background-color:#E6E6E6;
	border-style:dashed;
	border-color:#aaa;
	border-left:none;
	border-right:none;
	padding-bottom:0;
}

.contenedor{
margin-left:10px;
margin-right:10px;
padding-bottom:10px;
}

#map {
  width: 100%;
  height: 100%;
  position:absolute !important;
}

.scroll {
  height: 100%;
}

.col-7{
	width:30%;
	padding:5px;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.rating{
	text-align:center;
	margin-top:1em;

}

.labelComment{
	font-weight:bold !important;
	margin-left:2em;
}

.inputComment{
	border: 1px solid #888 !important;
}

.button-unactived{

	border: 1px solid #886aea;
	background-color: #fff;
	color: #886aea;
}

.item-checkbox{
	border:0 !important;
}

div.footer-button button.button.button-full {
    width:100%;
    margin-top: 0
}

.back-text{
	display:none !important;
}

.goraymi-backButton {
	margin-right: 0px !important;
    border-right-width: 0px !important;
    margin-top: 3px !important;
}


.wide-as-needed {
  overflow-x: hidden; 
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}



/* 
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}
/*
.scroll-bar-indicator
{
 display: none !important;
}
*/
.col-centered {
	 float: none !important;
    margin: 0 auto !important;
}



/* Empty. Add your own CSS if you like */
drawer {
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  z-index: 100;
  top:44px;
  background-color:white;
}
drawer .header-menu{
	margin-top:0px;
	padding-top:0px;
}
drawer .header-menu ion-list .list{
	padding-top:0px;
}
drawer.animate {
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
drawer.left {
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  box-shadow: 1px 5px 10px rgba(0,0,0,0.3);
}

drawer.right {
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.drawer-open .drawer-content .pane, .drawer-open .drawer-content .scroll-content {
  pointer-events: none;
}
drawer .item-icon-left .icon{
	font-size: 24px;
	padding-bottom: 2px;
}
ion-side-menu .current a.item-content,ion-side-menu .clickable.current, drawer .current a.item-content, drawer .clickable.current  {
 	color:#343434 !important;
 }
drawer .current.item .item-content.activated, drawer .current.item.activated{
	border-color: rgb(255, 255, 255);
	background-color: white;
}
drawer a.item-content, drawer .clickable{
	color: #858585;
	font-size:20px;
}
drawer .item-complex .item-content{
	padding-top:16px;
	padding-bottom:16px;
	font-size:20px;
}


/*This section would normally have .platform-android at the front */

.platform-android4_0 drawer.left{
  box-shadow: none;
  border-left:0px;
  border-right:0px;
}
.header-menu{
	top:0px;
}
.menu .scroll-content {
	top: 42px;
}
.menu-content{
	box-shadow: none;
}
.drawer-open ion-pane.pane{
	background-color: rgb(0,0,0);
}
.drawer-open view{
	background-color: rgb(0,0,0);
}
.ion-view.pane{
	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
  	-webkit-transition: opacity .25s ease-in-out;
}
.menu-open ion-view.pane, .drawer-open ion-view.pane{
	opacity:0.4;
}
.bar .title.no-nav{
	text-align: left;
	left: 0px !important;
}
.bar .button-icon.ion-navicon{
	margin-left: -20px;
	padding-right: 100px;
}
.bar .title{
	text-align: left;
	left: 16px !important;
}
.modal-wrapper .bar .title{
	text-align: center;
	left: 0px !important;
}
.bar .title.title-center{
	text-align: center;
	left: 0px !important;
	right: 0px !important;
}
.ion-ios7-arrow-back:before{
	content:"\f2ca";
}
.bar .button.button-icon.ion-ios7-arrow-back:before{
	font-size: 17px;
	line-height: 32px;
	padding-right: 100px;
}

.raymi-text-overflow{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:24px !important;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.icon-arrow-right {
float: right;
margin-top: 2px;
margin-right: -6px;
color:#00B6D1;
font-weight:bolder;
}

.menu-separator{
	border-bottom:1px solid #555;
	margin-bottom:10px;
	padding-top:1px;
	font-size:13px;	
}

.abrirMenu{
-webkit-transition: height 3s linear;
-moz-transition: height 3s linear;
-ms-transition: height 3s linear;
-o-transition: height 3s linear;
transition: height 3s linear;
top:80px !important;
transform: translate3d(0px, 0px, 0px) !important;
}

.cerrarMenu{
	top:100% !important;
	transform: translate3d(0px, 0px, 0px) !important;
}


.tsb-icons{
	margin-top: 20px !important;
    
}

.tabbed-slidebox .tsb-icons:after{display:none !important;}

.tabbed-slidebox .tsb-icons a{width:155px !important;}

.tabbed-slidebox .slider-slide{background-color:#FFF !important;}


@media screen and (min-width:767px) {
   .col-7{ width:70%;}

}

@media screen and (max-width:768px) and (orientation:portrait){
	.caballo{margin-right:1em;}
	.imgPosition{height:130px;}
}

@media screen and (max-width:768px) and (orientation:landscape){
	.imgPosition{width:100%;}
}
